@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body header{
    font-family: 'DotGothic16', sans-serif;
    background: #61c658;
}

body footer .container-fluid{
    font-family: 'DotGothic16', sans-serif;
    background: #61c658;
    font-size: large;
}

footer div.col-md-4:first-child p{
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
}
footer div.col-md-4:last-child p {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
}

h2 {
    padding-left: 20px;
    font-family: 'DotGothic16', sans-serif;
}