@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body header{
    font-family: 'DotGothic16', sans-serif;
    background: #61c658;
}

body footer .container-fluid{
    font-family: 'DotGothic16', sans-serif;
    background: #61c658;
    font-size: large;
}
footer #footerDatebutton {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
    color: blanchedalmond; 
}
footer #footerDate {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
    color: blanchedalmond; 
}
footer #footerTop {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;    
}
footer #footerGithubUrl {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;    
}

h2 {
    padding-left: 20px;
    font-family: 'DotGothic16', sans-serif;
}